<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plank_haris.messengerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="viyZMnkLTyWRy7vx84VklGyNnTo11tf3O9TStHhr" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="RXNtaGh3Ci0jcBNdI1g1iebPGL06VbC1EMi6Mh9q" />

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
